@model IEnumerable<PartsUnlimited.Models.Category>

@* TODO: Update the model to include an order attribute to dynamically build up the menu item *@

@{
    int[] menuOrder = { 1, 8, 2, 4, 5, 6, 3 };
}

@foreach (var order in menuOrder)
{
    <li>@Html.ActionLink(Model.Where(x => x.CategoryId == order).Select(x => x.Name).FirstOrDefault() ?? string.Empty, "Browse", "Store", new { CategoryId = order }, null)</li>
}
<li>@Html.ActionLink("More", "Index", "Store")</li>