
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:100%;">
    <h4>PartsUnlimited Dashboard</h4>
    <iframe width="100%" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMDY1ODNhZTYtYzZlMi00ZjVjLTk2ODUtZWI0OGVkY2YyZTM2IiwidCI6ImZhMGZkOGQyLWQ0MTQtNDgyYy1hMmEzLWQ4Njk2OWI1YzVmYyIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>

</div>

