
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:100%;text-align: center;">
   
    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZGY5ZWQ1NTctMDVhMS00MzYyLWJhNDYtZTI3OWQwZjg5ZDQxIiwidCI6ImZhMGZkOGQyLWQ0MTQtNDgyYy1hMmEzLWQ4Njk2OWI1YzVmYyIsImMiOjZ9" frameborder="0" allowfullscreen="true"></iframe>

</div>