$color-primary: #424242;
$color-inverse: #1C367C;
$color-white: #ffffff;
$color-black: #222222;
$color-error: #B94A48;
$color-background: #041c1c;
$color-orange: #fd8c00; 
$color-rule: #fd8c00;
$color-inverse-background: #222222;
$color-bar-background: #016e71;
$color-link: #3279b9;
$color-link-hover: #818693; 
$font-secondary:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-primary: 'Segoe UI Light', $font-secondary;
$font-primary-weight: 300;
$font-primary-bold: 'Segoe UI SemiBold', $font-primary;
$font-primary-bold-weight: 600;
$size-mobile-max: 767px;
$size-tablet-max: 992px;
$size-desktop-max: 1200px;